@page "/"

@if (currentUser != null)
{
    <div>
        <p><i>Welcome, @currentUser.UserName!</i></p>
        <div id="contact-list">
            <Contacts User="@currentUser" ContactList="@contacts" SelectContact="@GetMessagesForContactById" />
            <div id="new-contact-panel">
                New Contact: <input @bind="NewContact" /><br /><button @onclick="@(e => AddContactOnClick(e))">Add Contact</button>
            </div>
        </div>
        @if (selectedContact != null)
        {
            <div id="chat-list">
                <Chat User="@currentUser" CurrentContact="@selectedContact" />
            </div>
        }
        else
        {
            <i>No conversations selected</i>
        }
    </div>
}
else
{
    <div>Username: <input @bind="Username" /><br /><button @onclick="@(e => LoginUserOnClick(e))">Login</button></div>
}
